    <% include ../partials/header.ejs %>
<div class="container">
    <div class="adminPanel">
            <h1>Administration Panel</h1>
        
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h3 style="margin-top: 0px">Current User:
                    <% if (typeof(currentUser) == 'undefined') { %>
                        No User Logged In.
                    <% } else { %>
                        <%= currentUser.username %>
                    <% } %>        
                </h3>
            </div>
            <div class="col-md-6">
                <h3 style="margin-top: 0px"><strong>User Type:</strong> <%= currentUser.userLevel %></h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <% if (typeof(registeredUsers) != 'undefined' && currentUser.userLevel == "Administrator") { %>
                    <h3 style="margin-top: 0px">Registered Users:</h3>
                <% } %>
            </div>
        </div>
        <div class="row" style="padding-right: 15px" >        
            <% registeredUsers.forEach(function(user) { %>                 
                <ul>
                    <hr style="margin-top: 10px; margin-bottom: 10px">
                <form action="removeuser/<%=user._id%>" method="post">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-xs btn-danger inline" value="X" />
                        <h4 id="delete-buttons" class="vertical-align:10em"><strong>Username: </strong><%= user.username %></h4>
                    </div>
                    <div class="col-md-6" >
                        <h4 id="delete-buttons"><strong>User Type: </strong><%=user.userLevel%></h4>
                    </div>                 
                </form>
                <hr>
                </ul>                
            <% }) %>
        </div>
        <hr>
        <div class="row">
                <div class="col-md-12">
                    <% if (typeof(currentUser) != 'undefined' && currentUser.userLevel == "Administrator") { %>
                        <a href="/register" class="btn btn-md btn-success btn-block">Register</a>
                    <% } %>
                </div>
            </div>
    </div>
</div>

<% include ../partials/footer.ejs %>